.offer-btn {
  display:inline-block;
  margin-top:14px;
  padding:10px 14px;
  background:#0b3d91;
  color:#fff;
  border-radius:10px;
  font-weight:600;
  font-size:0.9rem;
  transition:0.25s;
}

.offer-btn:hover {
  background:#092f74;
}

.contact-info h3 {
  font-size: 20px;
  font-weight: 700;
}

.contact-info p {
  margin: 4px 0;
  line-height: 1.5;
}


.footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #222;
    color: white;
}
