.offer-btn {
  display:inline-block;
  margin-top:14px;
  padding:10px 14px;
  background:#0b3d91;
  color:#fff;
  border-radius:10px;
  font-weight:600;
  font-size:0.9rem;
  transition:0.25s;
}

.offer-btn:hover {
  background:#092f74;
}

@media (max-width: 600px) {
  form a.whatsapp-btn, 
  form button {
    width: 100% !important;
  }

  form {
    grid-template-columns: 1fr !important;
  }
}
